.title {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;


}

.text-primary {
    color: red;
}

nav {
    display: flex;
    justify-content: space-around;

}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-left: 50px;


}
.nav-btn{
    margin: 15px;

}